/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
body{
	background-color:rgb(204,204,204);
	font-family: Arial,Helvetica;
	padding:10px;
}
#container1{
	text-decoration:none;
	padding:15px;
	margin:30px;
	margin-bottom:0px;
	border-radius:8px 10px;
	background-color:rgb(255,255,255); 
}
.center{
	text-align: center;
}
.back{
	border:2px solid black;
}
#container2{
	margin:60px;
	margin-top:15px;
	padding:15px;
	border-radius:2%;
	background-color:rgb(255,255,255); 
}
.player_two{
	width:100%;
	padding:10px;
}

.list{
	list-style-type:none;
	text-decoration:none;
	margin:5px;
}